@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
:root{
    --dark-gray:hsl(0,0%,59%);
    --very-dark-gray: hsl(0, 0%, 17%);
}
body {
    box-sizing: border-box;
    font-family: 'Rubik',
        sans-serif;
}

.container {
    padding-top: 2rem;
    background: url('./images/pattern-bg.png');
    background-size: cover;
    height: 200px;
}
h1 {
    color: rgb(250, 250, 250);
    font-size: 28px;
    text-align: center;
}
.searchbar-container {
    position: relative;
    margin: 1rem auto 0;
    width: 500px;
    background-color: blueviolet;
}
.searchbar-container input,
.searchbar-container button{
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.searchbar-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    color: var(--very-dark-gray);
    border-radius: 7px;
}
.searchbar-container input::placeholder {
    font-size: 14px;
    font-weight: 500;

}

.searchbar-container button {
    position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
}

.geo-location-container {
    margin: 120px auto 0;
    background-color: rgb(250, 250, 250);
    display: flex;
    max-width: 650px;
    width: 90%;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 18px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(88, 88, 88,0.5);
    z-index: 100;
}
.geo-content {
    width: 9rem;
}
.geo-content p {
    font-size: 12px;
    color: var(--dark-gray);
    letter-spacing: 1px;
}

.side-border {
    width: 1px;
    height: 3rem;
    background-color: var(--dark-gray);
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
    border-radius: 7px;
}
#map{
    z-index: -1;
    width: 100%;
    height: 62vh;
}

@media (max-width: 550px) {
.searchbar-container {
    margin: 1rem auto 0;
    width: 90%;
}
.side-border {
    height: 1px;
    width: 70%;
    margin: 10px 0;
}
.geo-location-container {
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 90px;
}
.geo-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 25px;
}
#map {
    height: 73vh;
}
}